include LICENSE
include README.md
recursive-include LICENSES *.txt
recursive-include examples README.md *.yaml
recursive-include examples/CoH3CN6 BORN INCAR KPOINTS POSCAR-unitcell FORCE_CONSTANTS.harmonic OUTCAR.xz
recursive-include examples/KZP OUTCAR.xz
